
<div class="jumbotron">
    <h1>Thinktecture IdentityServer Administration</h1>
    <p>Manage your IdentityServer.</p>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="well well-lg text-center">
            <h3>
                You can view your clients.
            </h3>
            <a href="#/clients" class="btn btn-default btn-lg btn-block btn-primary">View All Clients</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well well-lg text-center bg-info">
            <h3>
                You can view your scopes.
            </h3>
            <a href="#/scopes" class="btn btn-default btn-lg btn-block btn-warning">View All Scopes</a>
        </div>
    </div>
</div>
